<nav class="ws-nav">
    <NavLink href="/" Match="NavLinkMatch.All" class="ws-nav__link">
        Home
    </NavLink>
    <NavLink href="/gl/journal-entry/editor" class="ws-nav__link">
        Journal Entry Editor
    </NavLink>
</nav>
