<nav class="ws-nav">
    <NavLink href="/" Match="NavLinkMatch.All" class="ws-nav__link">
        Home
    </NavLink>
    <NavLink href="/ar/receive-payment" class="ws-nav__link">
        Receive Payment
    </NavLink>
    <NavLink href="/ar/credit-application" class="ws-nav__link">
        Credit Application
    </NavLink>
    <NavLink href="/ap/pay-bill" class="ws-nav__link">
        Pay Bill
    </NavLink>
    <NavLink href="/ap/vendor-credit-application" class="ws-nav__link">
        Vendor Credit Application
    </NavLink>
    <NavLink href="/company/book-governance" class="ws-nav__link">
        Book Governance
    </NavLink>
    <NavLink href="/gl/journal-entry/editor" class="ws-nav__link">
        Journal Entry Editor
    </NavLink>
    <NavLink href="/settings/user-preferences/system-setup" class="ws-nav__link">
        User Preferences
    </NavLink>
</nav>
